@tailwind base;
@tailwind components;
@tailwind utilities;




.header-background {
  border-radius: 8.906px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
  border-radius: 8.906px;
  border: 2.672px solid #FFF;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mainBtn{
  border-radius: 8.906px;
border: 2.672px solid #FFF;
padding: 5px 10px;
}

.heroHeading{
  color: #FFF;
  text-align: center;
  text-shadow: 0px 3.563px 3.563px rgba(0, 0, 0, 0.25);
  font-family: Euclid Circular B;
  font-size: 71.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.638px; /* 123% */
}

h5{
  color: #FFF;
  text-align: center;
  text-shadow: 0px 3.563px 3.563px rgba(0, 0, 0, 0.25);
  font-family: Euclid Circular B;
  font-size:42px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.638px; /* 123% */
}

input[type="search"]::-webkit-search-cancel-button {
  display: none !important;
}

.btnPage{
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 2px !important;
}

.btnPage:hover{
  background-color: black;
  color: white !important;
}

.DialogContent {
  min-width: 700px !important;
  background: white;
  padding: 30px;
  border-radius: 4px;
}


@media screen and (max-width: 700px) {
  .heroHeading{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.638px; /* 123% */
  }
  .DialogContent {
    min-width: auto !important;
    padding: 15px; 
  }
}